* {
  margin: 0;
  box-sizing: border-box;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  background-color: #fbeaff;
}
.game {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 900px;
  height: 600px;
  background: url(img/bg.png) center/cover;
  border-radius: 10px;
}

.game__header {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
}

.game__button {
  background-color: rgb(252, 239, 64);
  width: 60px;
  height: 60px;
  border-radius: 15px;
  border: 4px solid black;
  font-size: 24px;
}

.game__button:hover {
  transform: scale(1.1);
}
.game__timer {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  background-color: bisque;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.game__level {
  margin-top: 10px;
  border: 3px solid black;
  width: 100px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  background-color: rgb(238, 209, 113);
}
.game__level span:first-child {
  display: block;
  font-weight: 700;
}
.game__level span:last-child {
  font-size: 26px;
  font-weight: 570;
  color: rgb(224, 135, 0);
}
.game__field {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.pop-up {
  margin: auto;
  width: 400px;
  height: 200px;
  padding: 20px;
  background-color: #00000095;
  border-radius: 20px;
  color: white;
  text-align: center;
  transform: translateY(-150%);
}
.pop-up--hidden {
  display: none;
}
.pop-up__refresh {
  width: 60px;
  height: 60px;
  background-color: azure;
  border-radius: 20px;
}
.pop-up__refresh:hover {
  transform: scale(1.1);
}
.pop-up__message {
  display: block;
  margin-top: 20px;
  font-size: 35px;
}

/**/
.alien {
  position: absolute;
  width: 80px;
  height: 80px;
  animation: alienBig 2s;
  cursor: pointer;
}

@keyframes alienBig {
  from {
    filter: opacity(0.5) drop-shadow(0 0 0 #ff0000);
    width: 0px;
    height: 0px;
  }
  to {
    width: 80px;
    height: 80px;
    filter: opacity(1);
  }
}
